<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maedi.user.godok.v1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.maedi.user.godok.v1.activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.maedi.user.godok.v1.drawers.navigationdrawers.NavigationDrawerWithAccountsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.drawers.navigationdrawers.NavigationDrawerWithAccountsAndFullHeightActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.maedi.user.godok.v1.drawers.viewpagers.ViewPagerActivity"
            android:finishOnCloseSystemDialogs="true"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.maedi.user.godok.v1.drawers.listviews.ListViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.GetCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.SendCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.RegisterUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.MainNavigationDrawer"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.DrawerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.ArticleDescActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.SearchArticleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.RegisterOrLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.maedi.user.godok.v1.activity.ActivityLoginHome"
            android:screenOrientation="portrait"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>